.nav {
    background-color: rgba(255,255,255);
    box-shadow:0px 4px 5px 0px rgba(0, 0, 0, .14), 0px 1px 10px 0px rgb(0 0 0 / 12%), 0px 2px 4px -1px rgb(0 0 0 / 20%); 
    color: black;
    cursor: pointer;
    display: block;
    height: 56px;
    left: 0;
    min-width: 320px;
    position: fixed;
    right: 0px;
    text-size-adjust: 100%;
    top: 0;
    white-space: normal;
    width: 390px;
    z-index: 986;
    
  }

  .navlink {
    text-decoration: none;
    color:inherit
  }

  .container{
    box-sizing: border-box;
    color:rgb(0, 0, 0);
    cursor: pointer;
    display: flex;
    height: 56px;
    justify-content: space-between;
    min-width: 0px;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 4px;
    position: relative;
    text-size-adjust: 100%;
    white-space: normal;
    width: 390px
  }

  .leftcontainer {
    align-items: center;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: flex;
    height: 48px;
    padding-right: 14px;
    text-size-adjust: 100%;
    vertical-align: middle;
    white-space: nowrap;
    width: 240px;
  }

  .menu {
    width: 10px;
    margin: 0 4px 0 0;
    color:rgb(0, 0, 0);
    cursor:pointer;
    display: inline-block;
    padding: 12px;
    height: 10px;
    text-size-adjust: 100%;
    user-select: none;
    vertical-align: middle;

   
  }

  .newsicon{
    display: inline-block;
    font-size: 22px;
    line-height: 24px;
    position: relative;
    vertical-align: middle;
    opacity: 1;
    padding-left: 4px;
  }
  .newsImage {
    align-items: center;
    box-sizing: border-box;
    justify-content: flex-end;
    background-size: 32px 32px;
    color: rgb(0, 0, 0);
    cursor:pointer;
    display: flex;
    height: 48px;
    line-height: normal;
    position:relative;
    text-size-adjust: 100%;
    user-select: none;
    white-space: nowrap;
    width: 32px;
    z-index: 0;
    padding-left: 0px;

  }

  .logoutbtn {
    color: rgb(60, 64, 67);
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    max-height: 40px;
  }
  
