.nav {
    height: 51px;
    width: 100%;
    min-width: 320px;
    color: black;
    /* position: fixed; */
    box-shadow: 0px 1px 8px #888888;
    display: block;
    padding: 4px;
    padding-left: 8px;
    top: 0;
    background-color: rgba(255,255,255,1)
  }

  .menu {
    flex: 0.48;
  }

  .newsicon{
    display: inline-block;
    
  }
