.artcontainer {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 5px;
  
}

.newsImage {
  object-fit: cover;
  width: 55%;
  height: 50%;
  filter:brightness(96%);
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 16px;
  align-items: center;

 
}

.title {
  display: block;
  font-weight: bolder;
}

.favebtn {
  align-items: center;
  background-color: rgb(26, 115, 232);
  border-bottom-color: rgb(255, 255, 255);
  box-sizing: border-box;
  color:rgb(255, 255, 255);
  color-scheme: light;
  cursor: pointer;
  direction: ltr;
  display: inline-flex;
  font-size: 14px;
  font-stretch: 100%;
  font-weight: 500;
  height: 80px;
  justify-content: center;
  letter-spacing: .15px;
  line-height: 20px;
  margin-bottom: 6px;
  margin-top: 6px;
  min-width: 64px;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 100px;
  border-radius: 12px;
  text-indent: 0px;
}
.date {
  font-size: small;
}
.newsText {
  margin-left: 20%;
  margin-right: 20%;
}
.lowerNewsText {
  margin-left: 20%;
  margin-right: 20%;
}

@media (max-width: 833px){
  .lowerNewsText{
    display: none;
  }
  .favebtn {
    height: 5%;
  }
}
