.App {
  box-sizing: border-box;
  color: rgba(0, 0, 0, .87);
  cursor: pointer;
  display: block;
  height: 1661px;
  min-height: 100%;
  position: relative;
  text-size-adjust: 100%;
  text-align: center;
  white-space: normal;
  overflow: hidden;
  
 

}






